
body{
    box-sizing : border-box;
    font-family: 'Sans-serif';
    padding:0;
}

.left{
    float:left;
}

#container{
    width:1920px;
    height:955px;
    margin:auto;
    position:absolute;
}

.header{
    height: 65px;
    background-color:#222222;
    border-radius:4px;
    position:fixed;
    z-index:10;
}

.header_inner_div{
    width: 200px;
    color: grey; 
    margin-left: 115px;
}

.header_inner_div .material-icons{
    font-size:27px;
    margin-top:10px;
}
.header_inner_div .fa{
    font-size:27px;
}

.header_inner_div i{
    margin-top:10px;
}

.header_inner_div label{
    font-size:18px;
}

.header_inner_div a{
    color:white;
}

.main{
    height:850px;
}

.sidebar{
    width:200px;
    background:#f5f5f5;
    height: 850px;
    top: 65px;
    border-right: 3px solid #a9a9a9;
    position: absolute;
     
}

.sidebar .all_locations_div{
    height:50px;
    background:#d5d5d5;
    padding:10px;
}

.sidebar .all_locations_div .btn{
    width:30px;
    height:30px;
    font-weight:bold;
    font-size:20px;
    float:right;
    padding:0px;
}

.sidebar .all_locations_div .btn .left_arrow{
    
}

.sidebar .filter_div{
    height:70px;
    padding:10px;

}

.sidebar .filter_div input{
    width:100px;
}
.sidebar .filter_div .btn{
    margin-left:10px;
    font-size:10px;
    padding:5px;
}

.sidebar .filter_div .btn .glyphicon{
    font-size:10px;
}

.sidebar .address_match_div{
    height:340px;

}

.sidebar .address_match_div .row{
    
}

.sidebar .address_match_div label{
    font-size:9px;
    margin-left:25px;
}

.sidebar .address_match_div select{
    width: 50px;
    float: right;
    margin-right: 20px;
}

.sidebar .push_pins_div{
    height:330px;
    padding:20px;
}

.content{
    width: 1690px;
    height: 640px;
    margin-top: 65px;
    margin-left: 200px;
}

.content #map_canvas{
    height:850px !important;
}

#asigned_area{

}

#asigned_route{
        
}

.go_btn{
    float: right;
    margin-top: -50px;
}

.footer{
    height:50px;
    background-color:#222222;
    width:100%;
}